div {
  margin-top: 50px;
  margin-left: 100px; 
  margin-right: 100px;
}

h1 {
  color: white;
  background-color: black;
  border: 1px #D6A800;
  padding: 10px;
}

h2 {
  color: white;
  background-color: black;
  border: 1px #D6A800;
  padding: 10px;
}

h3 {
  color: white;
  background-color: black;
  border: 1px #D6A800;
  padding: 10px;
}

h4 {
  color: white;
  background-color: black;
  border: 1px #D6A800;
  padding: 10px;
}

/* unvisited link */
a:link {
  color: blue;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: dark grey;
}

/* mouse over link */
a:hover {
  color: dark blue;
}
