container {
  margin-top: 50px;
  margin-left: 100px; 
  margin-right: 100px;
}

h1 {
  color: "Tyrian Purple";
  background-color: Lavender;
  border: 1px #D6A800;
  padding: 10px;
}

h2 {
  font-color: #630330;
  background-color: #E6E6FA;
  border: 1px #D6A800;
  padding: 10px;
}

h3 {
  font-color: #630330;
  background-color: #E6E6FA;
  border: 1px #D6A800;
  padding: 10px;
}

h4 {
  font-color: #630330;
  background-color: #E6E6FA;
  border: 1px #D6A800;
  padding: 10px;
}

/* unvisited link */
a:link {
  color: red;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

body {
  background-color: lightblue;
}
