div {
  margin-top: 50px;
  margin-left: 100px; 
  margin-right: 100px;
}

h1 {
  color: #FFFFFF;
  background-color: #97006A;
  border: 1px #D6A800;
  padding: 10px;;
}

h2 {
  color: #FFFFFF;
  background-color: #97006A;
  border: 1px #D6A800;
  padding: 10px;
}

h3 {
  color: #FFFFFF;
  background-color: #97006A;
  border: 1px #D6A800;
  padding: 10px;
}

h4 {
  color: #FFFFFF;
  background-color: #97006A;
  border: 1px #D6A800;
  padding: 10px;
}

/* unvisited link */
a:link {
  color: #00A123;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #8E6400;
}

/* mouse over link */
a:hover {
  color: #D59600;
}
