/* Prof. John Woods: Assignment 4.2 */

/* Styles for header element */
header {
  background-color: #1C5844;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
}

/* Styles for h1 element */
header h1 {
  font-weight: 400;
}

/* Styles for navbar */
#navbar {
  overflow: hidden;
  background-color: #1C5844;
  border-bottom: solid 15px #D6C929;
}

/* Styles for navbar links */
#navbar a {
  float: left;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Hover styles for navbar links*/
#navbar a:hover {
  background-color: #D6C929;
  color: #FFFFFF;
}

/* Styles for container div */
#container {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
}

/* Styles for card div */
.card {
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%;
}

/* Styles for card title div */
.card-title {
  text-align: center;
  font-size: 2em;
  color: #1C5844;
  font-weight: 400;
}

/* Styles for card content div */
.card-content {
  padding: 2px 16px;
}

/* Hover styles for card div */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Styles for footer element */
footer {
  background-color: #1C5844;
  position: absolute;
  bottom: 0; 
  width: 100%; 
}

/* Styles for footer paragraph */
footer p {
  color: #FFFFFF; 
  font-weight: 400;
  float: right;
  padding-right: 10px;
  font-style: italic;
}

/* Styles for footer links */
footer a {
  text-decoration: none;
  color: white;
}

/* Hover styles for footer link */
footer a:hover {
    text-decoration: underline;
}